*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{
background:#f7f5f8;
}

.auth-container{

display:flex;
height:100vh;
}

.left-panel{

width:40%;
background:#5b4b63;
color:white;

display:flex;
flex-direction:column;
justify-content:center;
padding:80px;

}

.left-panel h1{

font-size:48px;
}

.left-panel p{

margin-top:8px;
opacity:.8;
}

.welcome{

margin-top:80px;
}

.welcome h2{

font-size:34px;
margin-bottom:15px;
}

.right-panel{

width:60%;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

background:#f7f5f8;
}

.right-panel h2{

font-size:34px;
margin-bottom:30px;
color:#5b4b63;
}

form{

width:420px;

display:flex;
flex-direction:column;
gap:18px;
}

input{

padding:15px;
font-size:16px;

border:1px solid #ddd;
border-radius:12px;

outline:none;
transition:.3s;
}

input:focus{

border-color:#5b4b63;
}

button{

padding:15px;

background:#5b4b63;

color:white;

border:none;

border-radius:12px;

font-size:17px;

cursor:pointer;

transition:.3s;
}

button:hover{

background:#46384d;
}

.right-panel p{

margin-top:20px;
}

a{

color:#5b4b63;
text-decoration:none;
font-weight:600;
}
